@import 'styles/configs.scss';

.container {
  composes: padding from global;
}

.heading {
  composes: heading from global;
}

.subHeading {
  text-align: center;
  font-size: rem(35);
}

.chart {
  display: block;
  width: 600px;
  margin: 0 auto;

  @include respond-to('small') {
    width: 100%;
  }
}
