@import 'styles/configs.scss';

.container {
  composes: padding from global;
}

.heading {
  composes: heading from global;
}

#cy {
  display: grid;
  place-items: center; // 정중앙
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  height: 900px;

  @include respond-to('small') {
    height: 350px;
  }
}
