/**
 * 주의!! : 수정사항 발생 시 utils/styledComponentUtils.tsx 파일도 같이 수정해주세요
 */

/**
 * 사이즈 관련
 */
$global-base-font-size: 16px !default;

@function strip-units($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem($unit) {
  @return strip-units($unit) / strip-units($global-base-font-size) * 1rem;
}

@function em($unit, $base: 16) {
  @return strip-units($unit) / strip-units($base) * 1em;
}

/**
 * 반응형
 */
$breakpoints: (
  'small': (
    max-width: rem(600),
  ),
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
