@import 'styles/configs.scss';

.toolbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  order: 2;
  width: 100%;
  height: rem(90);
  margin: 0 auto;
  padding: 0 rem(32);
  opacity: 0;
  transform: translateY(rem(-20));
  animation: transform-none 0.35s 2.9s ease-out forwards; // 기본 로딩시간 2.5초 + 0.4s 딜레이!!!
}

.logo {
  align-self: center;
  margin: 0;
  order: 1;
  a {
    color: inherit;
    text-decoration: none;
  }
}

@keyframes transform-none {
  to {
    transform: none;
    opacity: 1;
  }
}
