@import 'styles/configs.scss';

.container {
  position: relative;
  height: 100vh;

  &.animate {
    .cover {
      left: 70%;

      @include respond-to('small') {
        left: 0;
        top: -70%;
      }
    }
    .description,
    .form {
      opacity: 1;
      transform: none;
    }
  }

  .cover {
    transition: left 700ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;

    @include respond-to('small') {
      transition: top 700ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    }
  }

  .description {
    opacity: 0;
    transform: translateY(rem(-20));
    transition: all 350ms ease-out 300ms;
  }

  .form {
    opacity: 0;
    transform: translateY(rem(20));
    transition: all 350ms ease-out 650ms;
  }
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: rem(200);
  font-size: rem(24);

  @include respond-to('small') {
    align-items: center;
    padding: 60% rem(10) 0 rem(10);
    text-align: center;
  }
}

.cover {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: rem(150);
  line-height: 1;
  padding-left: rem(-100);
  font-weight: 700;
  animation: normal-cover-init 500ms cubic-bezier(0.7, 0, 0.3, 1);

  @include respond-to('small') {
    top: -50%;
    left: 0;
    animation: small-cover-init 500ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}

.coverLetter {
  display: flex;
  position: absolute;
  left: rem(-150);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  animation: fade-in 600ms 500ms linear forwards;

  span {
    display: block;
  }

  @include respond-to('small') {
    left: 50%;
    bottom: rem(-95);
    align-items: center;
    font-size: rem(100);
    transform: translateX(-50%);
  }
}

.form {
  width: rem(300);
}

@keyframes normal-cover-init {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

@keyframes small-cover-init {
  from {
    top: 0%;
  }
  to {
    top: -50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
